@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, Nabla, IndieFlower;
}

#FooterSection{
    background-image: url("1092438.jpg");
    background-size: cover;
}

#experimental{
    color: white;
}

ul.fixed-to-top{
    transition: all ease-in-out 0.2s;
    background: rgba(38, 50, 56, 0.5);
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    opacity: 50%;
  }
  


body{
    background-image: url(Untitled-3.png);
    background-size: cover;
}

.active{ 

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

section{
    z-index: 0;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


#container {
    width: fit-content;
    margin: 0 auto;
    
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-family: Nabla;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  h1{
    font-family: "Courier";
  }

#header #pIMG {
    object-fit: fill;
    max-width: 250px;
    max-height: auto;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 100%;
    background: linear-gradient(45deg, #F48ACE 0%, #493A97 100%);

    
}

#pIMGDiv{
    background-image: url("IMG_0664.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    margin-right: 100%;
    margin-top: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
    
}




#header #pIMG:hover {
    transition: 0.80s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}

#content {
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
    padding-top: 20px;
    font-size: 25px;
}

#content #overig {
    padding-top: 20px;
    font-size: 25px;
}

#content #kennis {
    font-size: 25px;
}

#content #kennis ul {
    padding-left: 15px;
    font-size: 25px;
}

#experimental {
    height: 500px;
    padding: 50px;
}

#experimental h2 {
    text-align: center;
}

#footer {
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#footer ul {
    display: block;
    padding-top: 10px;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}

#img {
    width: 50px;
    height: 50px;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;

    width: 50%;

    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1 {
    
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-1;
}

.item-2 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-2;
}

.item-3 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 70%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 70%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 70%; opacity: 0; }
}
