* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    opacity: 50%;
  }
  
  .active {
    background-color: #04AA6D;
  }

body {
    background-color: rgba(0, 0, 0, 0.784);
}

#container {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #000000;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #984447;
}
#header #pIMG {
    object-fit: fill;
    max-width: 100%;
    max-height: auto;
    
}

#pIMGDiv{
    background-image: url("IMG_0664.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
}




#header #pIMGDiv:hover {
    transition: 0.70s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}

#content {
    background-color: #ADD9F4;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
    padding-top: 20px;
    font-size: 25px;
}

#content #overig {
    padding-top: 20px;
    font-size: 25px;
}

#content #kennis {
    padding-top: 20px;
    font-size: 25px;
}

#content #kennis ul {
    padding-left: 15px;
    font-size: 25px;
}

#experimental {
    background-color: #476C9B;
    height: 500px;
    padding: 50px;
}

#experimental h2 {
    text-align: center;
}

#footer {
    background-color: #101419;
    height: 300px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#footer ul {
    display: block;
    padding-top: 10px;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}

#img {
    width: 50px;
    height: 50px;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;

    width: 50%;

    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1 {
    
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-1;
}

.item-2 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-2;
}

.item-3 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 200px;
    animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 70%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 70%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 70%; opacity: 0; }
}