@charset " utf - 8 " ;

#header {
    background-image: url("http://jos.gluweb.nl/lessen/web/blue.png");
    height: 150px;
    width: 960px;
    margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
    color : #ffffff ;
    font-size : 25px ;
    font-family : arial ;
    line-height: 150px;

}

#content{
    background-image: url("https://wallpaper.dog/large/10719963.jpg");
    height: 150px;
    width: 960px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color : #ffffff ;
    font-size : 25px ;
    font-family : arial ;
    line-height: 150px;
}

#footer{
    background-image: url("https://wallpaper.dog/large/10719979.jpg");
    background-size: cover;
    height: 150px;
    width: 960px;
    margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
    color : #ffffff ;
    font-size : 25px ;
    font-family : arial ;
    line-height: 150px;

}
